<style>

    h1{
        background: transparent;
    }

    hr { 
        border : 0;
        height: 1px; 
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
        background-color: #00FF00;
    }

    p {
        width:50 0px; 
        overflow: hidden; 
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    #main { 
        vertical-align: middle;
    }

    #TKlogomain {
        height: 150px;
        width: 150px;
        display: block;
        margin: 0 auto;
        margin-top: 100px;
    }

    #title {
        font-family: "Courier New", Courier, monospace;
        color: #00FF00;
        height: 90%; 
        width: 100%;
        margin-top: -35px;
        text-align: center;

    }

    input {
        background: transparent;
    }

    #search {
        text-align: center;
        height: 5%;
        padding-top: 0%;
    }

    .searchButton{
        position: absolute;
        width: 40px;
        height: 40px;
    }

    .searchtext{
        color: #00FF00;
        width: 850px;
        height: 40px;
        border-style: double;
        border-color: #404040;
        font-size: 24px;
        padding-left: 5px;
    }

    .searchtext:focus{
        outline: 0;
        border-color: #00FF00;
    }

    #searchtextresults{
        position: fixed;
        background-color: #404040;
        top: 10px;
        left: 150px;
        border-color: #00FF00;
    }

    #searchBtnResults{
        position: fixed;
        top: 10px;
        right: 400px;
    }

    #TKlogoresults {
        position: fixed;
        width: 65px;
        height: 65px;
        left: 40px;
    }

    #webResults {
        padding-top: 5%;
        padding-left: -3%;
    }

    #filters {
        position: relative;
        padding-left: 15%;
        vertical-align: middle;
    }

    .iphone{
        padding-top: 7%;
        position: absolute;
        left: 140px;
        height: auto;
        width: 180px;
    }

    .tablet{
        padding-top: 4%;
        position: absolute;
        left: 365px;
        height: auto;
        width: 140px;
    }

    .computer{
        padding-top: 3%;
        position: absolute;
        left: 575px;
        height: auto;
        width: 260px;
    }

    .watch{
        padding-top: 7%;
        position: absolute;
        left: 840px;
        height: auto;
        width: 200px;
    }

    footer{
        position: absolute;
        height: 5%;
        width: 100%;
        bottom: 0px;
        padding-top: 3px;
        padding-bottom: 3px;
        background-color: #404040;
    }

    .settingsHome{
        position: absolute;
        width: 40px;
        left: 0px;
        padding-top: 3px;
        padding-left: 10px;
        padding-bottom: 10px;
    }

    .settingsHomeResults{
        position: fixed;
        height: 40px;
        width: 40px;
        right: 5px;
        top: 11px;
    }

    #searchBar{
        background-color: #404040;
        width: 100%;
        height: 60px;
        position: fixed;
    }


</style>